*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(243.18deg, #000061 0%, #000327 100%);
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  font-size: 2rem;
}

.weather-info {
  color: white;
  font-size: 1rem;
}

.weather-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.weather-img {
  position: absolute;
  height: 100%;
}

.person-img {
  position: absolute;
  height: 70%;
  top: 100px;
}
