*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: linear-gradient(243.18deg, #000061 0%, #000327 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  background: url("images/bg-stars.png") center top;
}

.title {
  color: white;
  font-size: 24px;
}

.weather-info {
  color: white;
  font-size: 16px;
}

.weather-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 420px;
  margin: 30px 0px;
  border-radius: 20px;
  border: 1px solid #000000;
  box-shadow: 0px 0px 30px 10px #7c3fd6;
  overflow: hidden;
}

.weather-img {
  position: absolute;
  height: 100%;
}

.person-img {
  position: absolute;
  top: 100px;
  height: 70%;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  margin-bottom: 4px;
  border-radius: 100px;
  border: none;
  background: linear-gradient(94.42deg, #ff0078 0%, #803bab 100%);
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.date-card-wrapper {
  width: 200px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.date-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 16px 16px;
  cursor: pointer;
}

.date-card:hover {
  background-color: lightgray;
}

.hidden {
  display: none;
}
